-Dwarf(x1) | LovesMining(x1)
Hobbit(Frodo)
-Hobbit(x1) | LovesEating(x1)
Dwarf(Gimli)
Elf(Elrond)
-Elf(x1) | -Mortal(x1)
Ringbearer(Frodo)
-Hobbit(x1) | Mortal(x1)
-Dwarf(x1) | Mortal(x1)
Hobbit(C1)
Ringbearer(C1)
-Ringbearer(x1) | Tormented(x1)
Mortal(x1) | GoToUndyingLands(x1)
--- negated query ---
-Ringbearer(Gimli)
